# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Data
data/processed/

# Models
models/

# MLflow
mlruns/
mlflow.db

# CatBoost
catboost_info/

# Logs
*.log

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Docker
*.tar